body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #ffcc70;
    padding: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 40px auto;
    gap: 40px;
    padding: 0 20px;
}

.imagem {
    flex: 1 1 400px;
}

.imagem img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.conteudo {
    flex: 1 1 400px;
}

section {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
    color: #444;
}

.pix {
    background-color: #fff3d6;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff914d;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ff7a1a;
}

.documentos ul {
    list-style: none;
    padding: 0;
}

.documentos li {
    margin-bottom: 8px;
}

.documentos a {
    text-decoration: none;
    color: #0066cc;
}

.documentos a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
}
.instagram {
    margin-top: 20px;
}

.botao-instagram {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 20px;
    background-color: #E1306C;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.botao-instagram:hover {
    opacity: 0.9;
}
/* Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
